*.o
*.swp
*~
*.obj
*.pyc
*.vimrc
*.ycm_extra_conf.py
/imgui.ini
/todo
/build*
/data/cities.txt
/data/font
/data/mpcorb.dat
/data/stars
/data/nebulae
/data/symbols.png
/data-src
/stellarium-web-engine
/stellarium-web-engine.js
/stellarium-web-engine.wasm
/.sconsign.dblite
/.cache
/doc
html/static/js/stellarium-web-engine.js
html/static/js/stellarium-web-engine.wasm
