# dependencies
node_modules
.DS_Store

# build files
dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled version
src/assets/js/stellarium-web-engine.js
src/assets/js/stellarium-web-engine.wasm

# Qt creator stuff
stellarium-web.config
stellarium-web.files
stellarium-web.creator
stellarium-web.includes
stellarium-web.creator.user
stellarium-web.cflags
stellarium-web.cxxflags
